rest/packages/
angular/resources/
rest/TinyERP.Course/bin/
rest/TinyERP.Course/obj/
rest/TinyERP.UserMangement/bin/
rest/TinyERP.UserManagement.Share/bin/
rest/TinyERP.UserManagement.Api/bin/
rest/TinyERP.Course.Api/bin/
rest/TinyERP.UserManagement.Share/obj/
rest/REST/bin/
rest/TinyERP.Course.Api/obj/
rest/TinyERP.UserManagement.Api/obj/
rest/TinyERP.UserMangement/obj/
rest/TinyERP.Common/obj/
rest/TinyERP.Common/bin/
rest/REST/obj/
rest/.vs/
