<?xml version="1.0"?>
<tinyerpConfiguration>
  <userManagement
    apiEndpoint="http://usermanagement.tinyerp.com/api/users"
    integrationMode="Remote"
    ></userManagement>
  <userMangementDbContext
    name="RESTDbContext"
    connectionString="Server=.\SQLEXPRESS;Initial Catalog=RESTDbContext; User Id=sa;password=123" providerName="System.Data.SqlClient">
  </userMangementDbContext>
  <databaseConnections>
      <add name="TinyERP.Course.Context.ICourseDbContext" server=".\SQLEXPRESS" userName="sa" password="123" database="CourseDbContext"></add>
  </databaseConnections>
</tinyerpConfiguration>